.product {
    display: grid;
    grid-template-areas: 
    " title title"
    "prod-ul image"
    "description description";
  
    justify-content: center;
   width: 100%;
   

}
.linkproduct {
    margin:3%;
    color: blue;
  
    text-decoration: none;
}
.linkproduct:hover {
    color: brown;
}
.product p {
    flex-wrap: wrap;
    width: auto;
    max-width: 800px;
    white-space: pre-line;
    overflow-wrap: break-word;
}
.title {
    justify-content: center;
    text-align: center;
    grid-area: title;
    font-style: italic;
    font-size: large;
    color: rgb(98, 98, 168);
   display: grid;
   grid-template-columns: 1fr 5fr;
    border-style: groove;
    border-color: blue;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
   background-color: rgba(0, 0, 255, 0.075);
   width: 100%;
    
}
.title img{
    max-width: 70px;
    max-width: 70px;
    width: auto;
    height: auto;
}
.product-img {
    grid-area: image;
    width: auto;
   
 
  padding-top: 10%;
    justify-content: center;
}
.description {
    grid-area: description;
    padding: 5px;
    text-align: center;
    width: auto;
 
}

.products-inf{
    width: auto;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.product-ul {
    grid-area: prod-ul ;
   text-decoration: none;
   list-style-type: none;
   justify-content: center;
 
   width: auto;
   min-width: 200px;

}
.product-ul li {
    margin:5% ;
    background-color: rgba(0, 0, 255, 0.075);
    width: auto;
}